.edoBox {
	MARGIN-BOTTOM: 1em
}
.edoBox2 span{ margin-left:5px; margin-right:5px;}
.edoBox2{
	text-align:center; font-size:15px; font-weight:bold; height:40px; line-height:24px;
} 
.edoBox2 a{  color:#0042BC;}
.edoBox b{ line-height:0px;}
.edoTitleTop{ height:22px; width:204px; background:url(titeltop.gif) no-repeat; font-size:15px; color:
; font-weight:bold; padding-left:30px; padding-top:7px;}
.eodTitleBottom{ height:20px; width:234px; background:url(titlebottom.gif) no-repeat;}

.edoBox DL.portlet {
	border-top:#cdcdcd 0px solid; BORDER-RIGHT: #cdcdcd 1px solid; MARGIN: 0px; BORDER-LEFT: #cdcdcd 1px solid;  WIDTH: 232px; 
}
.edoBox DL.portlet DT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0.5em; BORDER-TOP: 0px;BORDER-bottom: 0px; PADDING-LEFT: 2.5em; FONT-SIZE: 15px; BACKGROUND: url(/lighttheme_resources/general/img/edobox_dt_bg.png) repeat-x 0px 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; COLOR: #444444; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid; 
}
.edoBox DL.portlet DD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.edoBox DL.portlet DD.portletFooter {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BACKGROUND: url(/lighttheme_resources/general/img/edobox_dd_bg.png) repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: right
}
.edoBox DL.portalLogin DT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; 
}
.edoBox DL.portalLogin DD {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; BACKGROUND: #e7f9ff; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.edoBox DL.portalLogin DD .portal-login-input {
	WIDTH: 135px
}
.edoBox .portletItem{ padding-bottom:3px;}
.edoBox DL.portalLogin DD .portal-login-sitename {
	WIDTH: 50px
}
.edoBox DL.portletUserExp DD IMG.quotes { height:10px; width:15px;
}
.edoBox DL.portalPartner DD {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; PADDING-TOP: 0.5em
}
.edoBox .xbottom .xb2 {
	BACKGROUND: #e8faff
}
.edoBox .xbottom .xb3 {
	BACKGROUND: #e8faff
}
.edoBox .xbottom .xb4 {
	BACKGROUND: #e8faff
}
.edoitemxtop {
	DISPLAY: none
}
.document .display-block {
	DISPLAY: block
}
.document H2.indexitem {
	BORDER-RIGHT: #cdcdcd 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND: url(/lighttheme_resources/general/img/edobox_dt_bg.png) repeat-x; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #cdcdcd 1px solid; COLOR: black; BORDER-BOTTOM: #cdcdcd 1px solid; TEXT-ALIGN: center
}
.document .indexproductlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #e7f9ff; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; TEXT-ALIGN: center
}
.document TABLE.indexproducttable {
	FONT-SIZE: 12px; MARGIN: 0px auto
}
.document TABLE.indexproducttable TD {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.document TABLE.noborder TR {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; 
}
.document TABLE.noborder TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none;
}
.document TABLE.itemintro P.first {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN: 0.5em 0em 0.1em; COLOR: black
}
.document TABLE.itemintro P.first A {
	COLOR: black
}
.inputError {
	COLOR: red
}
.join_form DIV.registerTh {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0.5em; WHITE-SPACE: nowrap
}
.join_form DIV.error {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; MARGIN: 0px 0px 0.5em 2em; PADDING-TOP: 0.25em
}
.join_form DIV.formHelp {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
#form-buttons-submit {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/lighttheme_resources/general/img/signup_submit.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 197px; CURSOR: pointer; BORDER-TOP-STYLE: none; TEXT-INDENT: -3000px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 32px; BORDER-BOTTOM-STYLE: none
}
#content A:link {
	
}
#content A:visited {
	
}
#content A:hover {
	COLOR: #444444; TEXT-DECORATION: none
}
.documentContent H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN: 0px; background:#E9FAFF; height:25px; padding-top:5px; padding-left:35px; 
}
.document .section p{ margin-left:22px; line-height:22px;}
.document .section H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #444444; text-align:left;  padding-top:5px;  margin-left:0px;
}
.document .section H2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; BORDER-BOTTOM-WIDTH: 0px; COLOR:#444444; width:100%;
}
.document .section H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; color:#0042BC; height:18px;  margin-bottom:3px!important; margin-bottom:2px; width:100%; }

.document .section H3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; COLOR:#0042BC; padding-left:33px;margin-bottom:3px!important; margin-bottom:0px;
}
.document .section H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: black
}
.document .section H4 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: black
}
/*===============================================================*/
.margin_3{ margin:0.3em 0px;}
.contentDescription{  margin:10px 0px;}

/**==================================================================**/
.content{ width:720px; height: auto;}
.document{ height:auto; margin-bottom:20px;}
.document:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.fengexian{position:relative; margin:20px 0px 5px 0px;; }
.fengexian img{ position:absolute; left:352px!important; left:-343px; top:0px!important; top:-855px; display:block;}
.caseslist{ width:325px!important; width:328px; height:120px; font-size:12px;  margin:0px; padding:0px; padding-left:20px!important;padding-left:20px; margin-top:2px; min-height; float:left;}
.caseslist dt{ line-height:24px;}
.caseslist dd{ margin:0px; padding:0px; text-indent:2em; line-height:22px;}
.odd{ background:#FCFDFF;  }
.even{ }
.faqlist .section h2{ margin-left:2em; background:none;}
.imagebanner { margin:12px 0px 5px 0px; }
.imagelist{ text-align:left; margin-top:10px;}
.float-left{ float:left;}

.featurelist.section h2{ background:#EDFBFE}
.document .imagelist h2{ background:none; border-bottom:#E8E8E8 1px solid; margin-bottom:25px;}
.document .imagebar{ text-align:center;}
.featurelist .section p{ margin-left:100px; width:610px!important; width:600px; line-height:18px; }
.reference{ margin-left:12px;}
.docutils{ margin-bottom:0px;}
.container.section h2{ background:none;}
.casepic{ margin-bottom:20px; margin-top:15px; text-align:center;}
.casepic .container{ margin:0 auto; text-align:center;}
.doucment-p{ text-indent:2em}
.adstitle{ text-align:center; font-size:24px; line-height:30px; margin-top:35px; }
.adscontent.section h2{ margin:1.5em 1.5em; font-size:12px;}
.adscontent.section p{ text-indent:2em;}
.arabic.simple li{ line-height:22px;}
.section.simple { line-height:22px;}
table.docutils tbody tr td ul.simple li{width:300px;}
.last{ line-height:18px; height:56px;}
.flatcontent p {float: left }
.flatcontent li { display: inline; }
.portletItem .login_p{ text-align:center; margin-left: auto; margin-right:auto; margin-top:0px; margin-bottom:0px; }
.portletItem .margin_3{ margin-top:0px;}